.products__container {
  width: 70%;
  height: 60vh;
  padding: 1rem;
  border: 1px solid #999;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

table {
  width: 60%;
  border: 1px solid #666;
}
